/** RESET **/
button {
  text-decoration: none;
  outline: none;
  box-shadow: none;
}
form {
  outline: none;
  box-shadow: none;
}
ol,ul {
  list-style: none;
  padding: 0;
}
a {
  text-decoration: none; 
}
.text-beauty {
  color: #77bf4f;
}
.title-design {
  text-transform: uppercase;
  color: #77bf4f;
  font-weight: 700;
  font-size: 18px;
}
/** START Main style **/
/** START navigation **/
.banner-img {
  min-height: 450px;
}
.header {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9;   
}
.header .navbar-brand .logo {
  width: 140px;
}
.navigation .navbar-nav .nav-link {
  color: #212529;
  font-weight: 700;
  font-size: 18px;
  padding: .5rem 1rem;
}
.navigation .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link {
  color: #77bf4f;
}
.header .get-quote-button {
  background: #77bf4f;
  color: #fff;
  font-size: 14px;
  border: none;
  border-radius: 20px;
  padding: 5px 8px;
  font-weight: 700;
}
.header .get-quote-button i {
  margin-right: 5px;
  font-size: 18px;
}
.navbar-light .navbar-toggler {
  color: #212529;
  border: 2px solid #77bf4f;
}
.navbar-toggler:focus {
  text-decoration: none;
  outline: none;
  box-shadow: none;
}

@media (min-width:992px ) and (max-width:1399px ) { 
  .navigation .navbar-nav .nav-link {
    padding: .5rem .5rem;
  }
}
@media (min-width:992px ) and (max-width:1199px ) {
  .navigation .navbar-nav .nav-link {
    font-size: 14px;
  }
}
/** END navigation **/

/** START banner **/
.banner {
  position: relative;
  z-index: 1;
}
.banner-content {

}
.banner-content .banner-heading {
  font-weight: 900;
  font-size: 4.5rem;
  line-height: 1.2;
  margin-bottom: 20px;
  padding-top: 14%;
}
.banner-content .banner-text {
  font-size: 22px;
  font-weight: 400;
  color: #606060;
  margin-bottom: 20px;
}
.banner-content .contect-now {
  background: #77bf4f;
  color: #fff;
  font-size: 30px;
  border: none;
  border-radius: 10px;
  padding: .5rem 1rem;
  font-weight: 700;
}
.banner-content .contect-now i {
  transform: rotate(320deg);
  margin-right: 5px;
  font-size: 30px;
}
.shape-img {
  width: 100%;
}

@media (max-width:1250px) {
  .banner-content .banner-heading {
    font-weight: 900;
    font-size: 3rem;
    line-height: 1;
    margin-bottom: 20px;
    padding-top: 8%;
  }
  .banner-content .contect-now {
    background: #77bf4f;
    color: #fff;
    font-size: 22px;
    border: none;
    border-radius: 10px;
    padding: .5rem 1rem;
    font-weight: 700;
  }
  .banner-content .contect-now i {
    font-size: 22px;
  }
}
@media (max-width:992px) {
  .banner-content .banner-heading {
    font-size: 2.2rem;
  }
  .banner-content .contect-now {
    font-size: 16px;
  }
  .banner-content .banner-text {
    font-size: 18px;
  }
}
@media (max-width:575px) {
  .banner-content .banner-heading {
    padding-top: 12%;
  }
}
@media (max-width:400px) {
  .banner-content .banner-heading {
    padding-top: 18%;
  }
  .banner-content .banner-text {
    font-size: 14px;
  }
}

/** END banner **/

/** START services **/
.services-content {
  border-top: 4px solid #77bf4f;
  background: #f9f9f9;
}
.services-content .services-img {
  width: 100%;
}
.services-content .service-title {
  line-height: 1.5;
  padding-bottom: 5px;
  position: relative;
}
.services-content .service-title span {
  font-size: 1.5rem;
  font-weight: 700;
  display: block;
  position: relative;
}
.services-content .service-title i {
  text-align: right;
  position: absolute;
  right: 6px;
  bottom: 4px;
  color: #fff;
}
.services-content .service-title:hover {
  border-bottom: 4px solid #77bf4f;
  transition: translate(Y) 300ms ease-in-out;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  background: #77bf4f;
  border-radius: 50%;
}
.carousel-control-next-icon, .carousel-control-prev-icon {
  display: inline-block;
  width: 2.5rem;
  height: 2.5rem;
}
.carousel-control-next, .carousel-control-prev {
  opacity: 9;
}
.carousel-control-prev-icon i {
  color: #fff;
  margin-top: 12px;
  margin-right: 4px;
}
.carousel-control-next-icon i {
  color: #fff;
  margin-top: 12px;
  margin-left: 0px;
}
.carousel-control-prev {
  left: -94px;
}
.carousel-control-next {
  right: -94px;
}
.shape-img {
  width: 60px;
  height: 60px;
  position: absolute;
  right: 0%;
}
/** END services **/

/** START revolutionizing business **/
.wave {
  min-height: 80px;
}
.wave .wave-img { 
  min-width: 100%;
  height: 200px;
}
.revolutionizing h2 {
  font-weight: 700;
}
.revolutionizing .revolutionizing-para {
  font-size: 18px;
}
/** END revolutionizing business **/